.root {
  background-color: #7a3145;
  min-height: 200px;
  padding: 20px 10px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}
.card {
  background-color: #fff;
  border-radius: 40px;
  min-height: 30px;
  width: 32%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* outline: 4px solid rgb(119, 255, 0); */
  /* border: 4px solid rgb(119, 255, 0); */
}
.sub {
  width: 100%;
  display: flex;
  justify-content: center;
  /* text-align: center; */
}
.img {
  width: 100%;
}
/* jhbdsfjsdkfalkjshfaskjlfsdlkjb dfsdf sdf sdf sdfs df */
